/* General */
html, body{
    background-color: 	#87CEFA;
    width: auto;
    position: relative;
    text-align: center;
}

h1{
    text-align:center;
    font-family: Sans-serif;
}
.Box {
    border: 1px solid;
    background-color:#CCE6E6 ;
    border-radius: 0px;
    width: 40%;
    height: 300px;
}
textarea{
    background-color: #f2f2f2;
    height: 95%;
    width: 100%;
    /* https://stackoverflow.com/questions/271067/
    how-can-i-make-a-textarea-100-width-without-
    overflowing-when-padding-is-present
    */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
}
.MDinput{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    bottom: 0%;
}

/* For input + preview */
.WorkingSpace{
    position: relative;
    text-align: center;
    height: 60%;
    width: 80%;
    margin: 10px auto;
    margin-bottom: 300px;
    padding: 10px;
}
.WorkingSpace.Box{
    width: 40%;
}
.InputTab{
    position: absolute;
    height: 92%;
    width: 100%;
    left: 0%;
    bottom: 0%;
}
#Input {
    text-align: left;
    position: absolute;
    width: 30%;
    top: 0%;
    left: 0%;
}
#Output {
    position: absolute;
    width: 70%;
    top: 0%;
    left: 30%;
}
.TabBar {
    position: relative;
    width: 100%;
    height: 8%;   
}
.TabButton{
    display: inline-block;
    text-align: center;
    width: 20%;
    height: 100%;
    margin: 0 auto;
    border: none;
    padding: 0px;
    float: left;
    background-color: gray;
    padding-top: 1%;
    transition: 0.2s;
}
.TabButton:hover{
    background-color: whitesmoke;
}
.Active{
    width: 19%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 0.5%;
}
#MoreTab {
    width: 10%;
}
/* For output*/
#OutputText {
    position: relative;
    margin-top: 20px;
    display: inline-block;
    height: 200px;
}
.Result {
    position: absolute;
    height: 90%;
    width: 100%;
    left: 0%;
    bottom: 0%;
}

/*^_^*/
.BottomBox {
    display: inline-block;
}
footer {
    display: inline-block;
}
.Bot{
    font-size: 0.8em;
    position: relative;
    text-align: center;
}
.Hidden {
    display: none;
}
.MakeItFloat {
    text-align: center;
    padding-top: 1.5%;
    width: 100%;
    height: 10%;
}